@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border {
    border: 1px solid black;
  }
  .clubcolor {
    color: #5271ff;
  }
  .clubcolorbg {
    background-color: #5271ff;
  }
  .cursor {
    cursor: pointer;
  }
}
